/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LOCAL FONTS */
@font-face {
    font-family: 'KosugiMaru-Regular';
    src: url('../assets/fonts/KosugiMaru-Regular.ttf');
}

@font-face {
    font-family: 'BarlowSemiCondensed-Medium';
    src: url('../assets/fonts/Barlow/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf');
}



body {
    font-family: 'KosugiMaru-Regular', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

/* Removes links underline */
a:link {
    text-decoration: none;
}

/* NAV BAR ELEMENTS - FONT */
.navbar--barlowFont {
    font-family: 'BarlowSemiCondensed-Medium', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* GRID LAYOUT */

.grid-layout {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
    grid-row-gap: 10px;
}

header {
    grid-area: "header";
    margin: 50px;
}

main {
    grid-area: "main";
    margin: 50px;
}

footer {
    grid-area: "footer";
    margin: 50px;
}

/* NAV BAR */

.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.navbar__elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}