/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LOCAL FONTS */
@font-face {
    font-family: 'KosugiMaru-Regular';
    src: url('../assets/fonts/KosugiMaru-Regular.ttf');
}

@font-face {
    font-family: 'BarlowSemiCondensed-Medium';
    src: url('../assets/fonts/Barlow/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf');
}


/* RESPONSIVE */

/* TABLETS */
@media screen and (min-width: 768px) {
    
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
    
}