/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LOCAL FONTS */
@font-face {
    font-family: 'KosugiMaru-Regular';
    src: url('../assets/fonts/KosugiMaru-Regular.ttf');
}

@font-face {
    font-family: 'BarlowSemiCondensed-Medium';
    src: url('../assets/fonts/Barlow/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf');
}


/* GRID LAYOUT + FONT + HEIGHT */
.grid-container {
    font-family: 'KosugiMaru-Regular', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    display: grid;
    gap: 10px;
    /* GRID AREAS POSITION */
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}

.grid-container > * {
    font-size: 21px;
    display: flex;
}

/* GRID AREAS */
header {
    grid-area: header;
    background-color: brown;
}

main {
    grid-area: main;
    background-color: forestgreen;
}

footer {
    grid-area: footer;
    background-color: blueviolet;
}


/* RESPONSIVE */

/* TABLETS */
@media screen and (min-width: 768px) {
    
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
    
}


/* REMOVES STYLE + DECORATION + UNDERLINE */
ul {
    list-style-type: none;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}



